html {
  position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
  line-height: 1.6;
  background-color:rgb(233, 233, 233);

}

body{
  margin: auto;
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  margin-top:70px;
  max-width: 1000px
}

a{
  text-decoration: none;
}

header{
  position: fixed;
	margin: auto;
	padding: 0;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
  background:rgba(100, 100, 100, 0.9);
  z-index: 10;
}

h1.title {
  color:white;
  text-align:left;
  line-height:10px;
  margin-left: 5px;
}

ul.sns img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

ul.sns{
  list-style: none;
  display:inline-flex;
}

.migi{
  position:absolute;
  top: -10px;
  right: 10px;
}

.caution {
  background:#ffffff;
  font-weight:900;
}

.who img{
  width: 200px;
  height: 200px;
  object-fit: cover;
	border-radius: 50%;
  margin-right: 40px;
}

.who{
  display:inline-flex;
}

footer {
  background-color: rgb(100, 100, 100);
  color: whitesmoke;
  text-align: center;
  margin-top: auto;
  padding: 10px;
  position:absolute;
  width: 100%;
  left: 0;
}




.wrapper {
  width: 80%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.main, .side {
  padding: 20px;
}

.main {
  background: pink;
  width: 60%;
  margin-right: 20px;
}

.skill h1{
  background: #f0f0f0;
  text-align:center
}

.side {
  background: skyblue;
  width: 25%;
}

.side p , .side ul , .main ul {
  background-color: #f0f0f0;
  padding: 30px;
}

.archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}