html {
  position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
  line-height: 1.6;
  background-color:#ffc6ff;
}

body{
  margin: auto;
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  margin-top:70px;
  max-width: 1000px
}

a{
  text-decoration: none;
}

header{
  position: fixed;
	margin: auto;
	padding: 0;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
  z-index: 10;
}

h1.title {
  color:white;
  text-align:left;
  line-height:10px;
  margin-left: 5px;
  
}

ul.sns img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

ul.sns{
  list-style: none;
  display:inline-flex;
}

.migi{
  position:absolute;
  top: -10px;
  right: 10px;
}

.who img{
  width: 200px;
  height: 200px;
  object-fit: cover;
	border-radius: 50%;
  margin-right: 40px;
}

.who{
  display:inline-flex;
  width: 100%;
}

.answer {
  background-color:#c6ffff;
  border-radius: 50px 50px 50px 50px;
  width: 100%;
  font-weight: 900;
}

p.name{
 font-size: 40px;
 margin-top: auto;
 margin-bottom: auto;
}

footer {
  background-color: #7f7fff;
  color: whitesmoke;
  text-align: center;
  margin-top: auto;
  padding: 10px;
  position:absolute;
  width: 100%;
  left: 0;
}

.wrapper {
  width: 80%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.main, .side {
  padding: 20px;
}

.main {
  background:#ffc6ff;
  border-radius: 20px 20px 20px 20px;
  width: 85%;
  margin-right: 20px;
  padding: 30px;
  text-align:center
}

.skill{ 
  background:#ffffe0;
  border-radius: 50px 50px 50px 50px;
}

.skill p , .like p{
  padding-top: 10px;
  text-align:center;
  font-weight: 900;
  font-size: 35px;
}

.side p , .side ul , .main ul {
  padding: 10px;
  font-weight: 900;
  list-style: none;
}

.like {
  background-color: #c6ffff;
  border-radius: 50px 50px 50px 50px;
}